<%- include header.ejs %>
	<div class="container">
		<div class="hero text-center is-medium is-primary is-bold">
			<div class="hero-body">
				<h1 class="title">Mixdit</h1>
				<p>r/mixcd is a <a href="http://reddit.com/r/mixcd">subreddit</a> that connects people and music.</p>
			</div>
		</div>
		<div class="level">
		<% if (post) { %>
			<div class="column is-half">
				<div>
					<h2><%= post.title %></h2>
					<p><%= post.body %></p>
				</div>
			</div>
		<% } %>
		<div class="column is-half">
			<div>
			<h2>How does this work?</h2>
			<ol>
				<li>Login and fill in your details, only your paired swappers will be able to see this information.</li>
				<li>Sign up for matches when they're announced</li>
				<li>We'll announce on the subreddit when a swap is occurring, as well as dates to ship by.</li>
				<li>Confirmation of shipping and receiveing mixes will help us know who is trustworthy. This also will let us know who has not received a mix so we can hook you up with a mix from a volunteer. Our goal is to not let anyone go without a mix who sent one.</li>
			</ol>
			</div>
		</div>
		</div>
	</div>
<%- include footer.ejs %>