<%- include header.ejs %>
	<div class="container">
		<div class="columns">

			<h1><span class="fa fa-sign-in"></span> Login</h1>

			<% if (message.length > 0) { %>
				<div class="notification is-danger"><%= message %></div>
			<% } %>

			<!-- LOGIN FORM -->
			<form action="/login" method="post">
				<div class="is-half">
					<div class="field">
						<div class="control">
							<label class="label">Email
								<input type="text" class="input" name="email">
							</label>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<label class="label">Password
								<input type="password" class="input" name="password">
							</label>
						</div>
					</div>
					<button type="submit" class="button is-primary is-large">Login</button>
				</div>

			</form>

			<hr>

			<p>Need an account? <a href="/signup">Signup</a></p>
			<p>Or go <a href="/">home</a>.</p>

		</div>
	</div>
<%- include footer.ejs %>
